{% load static %}
{% load getstatus %}
<div class="small-container cart-page">
    {% if orders %}
    <table>
        <tbody><tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
            <th>Status</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.created_at}}</td>
            <td>${{order.total_price}}.0</td>
            <td>{% getstatus order.order_status %}</td>
        </tr>
        {% endfor %}
    </tbody></table>
    {% else %}
    <div class="container-fluid  mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body cart">
                        <div class="col-sm-12  text-center">
                            <img src="{% static 'images/no_order.jpg' %}" width="500" height="400" class="img-fluid mb-4 mr-3">
                                <div class="no_order_cart">
                                    <h3><strong>Place Order If Any !!</strong></h3>
                                    <a href="{% url 'cart' %}" class="btn-primary">Check Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>